# Pandas Dataframe III

In [5]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [3]:
#Index Levels
outside = ['G1','G1','G1','G2','G2','G2',]
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [7]:
df = pd.DataFrame(randn(6,2), hier_index, ['A', 'B'])
df

             A         B
G1 1  0.293403 -0.013092
   2  1.676279 -0.830028
   3  0.474191 -2.125489
G2 1  0.006517  1.098209
   2  0.291897 -0.322892
   3 -0.866723  0.245161

In [13]:
df.loc['G1'].iloc[1]

A    1.676279
B   -0.830028
Name: 2, dtype: float64

In [15]:
df.index.names = ['Groups', 'Nums']
df

                    A         B
Groups Nums
G1     1     0.293403 -0.013092
       2     1.676279 -0.830028
       3     0.474191 -2.125489
G2     1     0.006517  1.098209
       2     0.291897 -0.322892
       3    -0.866723  0.245161

In [16]:
df.loc['G2'].loc[3].loc['B']

0.24516109787088486

In [23]:
df.iloc[4] #searches by line index

A    0.291897
B   -0.322892
Name: (G2, 2), dtype: float64

## Cross-section

In [26]:
df.xs(3,level='Nums') #searches by Column name, on every group

               A         B
Groups
G1      0.474191 -2.125489
G2     -0.866723  0.245161